# Entorno virtual
venv/
env/
ENV/

# Archivos de datos y modelos
data/normal/*
data/tuberculosis/*
*.h5
*.ckpt
*.tflite
*.pb

# Archivos grandes comunes
*.dll
*.pyd

# Archivos generados
__pycache__/
*.pyc
*.log
*.tmp
*.csv

# Configuración de Jupyter y VSCode
.ipynb_checkpoints/
.vscode/
